.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  color: var(--text-color-inverse);
  font-size: 18px;
  border-radius: 14px;
  padding: 25px;


}

.contact p,
.contact h2,
.contact ul {
  margin: 0;
  padding: 0;
}

.contact-title {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}
#icon-whatsapp{
  font-size: 30px;
  color:green
}
#icon-linkedIn{
  font-size: 30px;
  color:rgb(31, 179, 224)
}

.media{
  margin-top: 20px;
}

.social-list {
  list-style: none;
  display:flex;
  gap: 25px;
  /* justify-content: center; */
}

.social-list img {
  height: 25px;
}
.mobile{
  display:flex;
  margin-left: 5px;
  margin-right: 5px;
}
.contact_main{
  display: flex;
  margin-top: 20px;
}
.mobile-img{
  height: 25px;
  padding-right: 5px;
}
.social-list img:hover {
  filter: drop-shadow(0 0 5px var(--secondary-color));
}

